#signup{
    display:flex;
    justify-content: center
}
.fname, .lname{
    margin:15px;
}

.buttons{
    margin: 20px;
}
.toggle{
    margin:25px;
    background-color: salmon;
}
.toggle:hover{
background-color: lightsalmon;}
input{
    pointer-events:fill;
}